<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<div id="chat-wrapper">
    <div id="left">
        <textarea class="ws-output" rows="20" id="chat-area" readonly></textarea>
    </div>
    <div id="right">
      <label for="client_list">Connected Users:</label>
      <ul id="client_list">
      </ul>
    </div>
</div>
<div>
    <form id="input-wrapper"action="" method="POST">
        <div id="left">
            <input type="text" id="text-field" class="text-field"></input><br><br>
        </div>
        <div id="right">
            <input id="button-container" type="submit" value="Send"/>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/client.js') }}"></script>